/* GLOBAL CSS VARIABLES */
:root{
    --blue: #7C9AB9;
    --green: #A3A86D;
    --darkerWhite: #e3e1de;
    --brown: #c89967;
    
    --offWhite: #ece8e3;
    --backgroundColor: #ececec;
    
    --socialsColor: rgb(68, 68, 68);
    --secondaryColor: var(--blue);
}


.divider{
    position: relative;
    width: 90%;
    height: 30px;
    background-color: var(--blue);
    margin-left: 5%;
    margin-top: -5%;
    z-index: -1;
}

.hide{
    display: none;
}
.hide >*{
    display: none;
}
