.nav a{
    position: relative
}

.nav a:after {
    content: "";
    position: absolute;
    background-color: #7C9AB9;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 6px;
    bottom: -3px;
    transition: 0.3s;
}
.nav a:hover:after {
    width: 100%;
}