.projects-container{
    max-width: 1000px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.projects-header{
    width: 100%;
    height: 100px;
    position: relative;
}

.projects-body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.projects-box{
    width: 100%;
    height: 350px;
}

.projects-image{
    width: 55%;
    height: 100%;
    position: relative;
    /* background-color: red; */
    z-index: 2;
}
.projects-description{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    z-index: 1
}

