/* @import "general.css"; */

.projects_container{
    max-width: 65vw;
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}
.projects_header{
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 30px;
}
.projects_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects_box{
    width: 100%;
    height: 85%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    margin-left: 5vw;
}
.projects_image{
    /* width: 500px; */
    width: 50%;
    height: 90%;
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.3s;
    z-index: 1;
    filter: grayscale(40%);
    cursor: pointer;
    /* margin-left: 20px; */
}
.projects_image:hover{
    transform: scale(1.03);
    filter: grayscale(0%);
}
.projects_description{
    /* width: 50%; */
    width: 40%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.projects_description_r{
    /* margin-left: -90px; */
    padding-left: 25px;
    padding-right: 25px;
    align-items: left; 
    justify-content: center;
    text-align: left;
}
.projects_description_l{
    /* margin-right: -90px; */
    padding-left: 25px;
    padding-right: 25px;
    /* align-items: left; */
    justify-content: center;
    text-align: right;
}

.projects_blurb{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    /* background-color: var(--darkerWhite); */
    /* background-color: #434343; */
    /* padding-left: 20px; */
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}
.projects_tech span{ 
    background-color: grey;
    border-radius: 20px;
    /* padding-top: 3px; */
}
.projects_tech > *{
    padding: 3px 0.75rem 3px 0.85rem;
    font-size: 12px;
    margin-right: 10px;
    /* line-height: 1.25rem 20px; */
}
.projects_link{
    display: flex;
    width: 100%;
    height: 20px;
    flex-direction: row;
}
.projects_link_r{
    /* justify-content: flex-end; */
    justify-content: flex-start;
    margin-left: -10px;
}
.projects_link_l{
    /* justify-content: flex-start; */
    justify-content: flex-end;
    margin-right: -10px;
}
.projects_link >*{
    /* padding-left: 0.75rem; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    transition: 0.3s;
}
.projects_link >*:hover{
    color: var(--green);
}

@media only screen and (max-width: 768px){
    .projects_container{
        max-width: 75vw;
    }
    .projects_box{
        /* flex-direction: column; */
        position: relative;

    }
    .projects_image{
        position: relative;
        top: 0;
        /* margin-left: 0px; */
        width: 100%;
        height: 100%;
        filter: grayscale(80%);
        filter: blur(1px);
    }
    .projects_decsription{
        width: 100%;
    }
    .projects_description_r{
        position: relative;
        margin-left: -99%;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .projects_description_l{
        position: relative;
        margin-right: -100%;
        top: 0;
        height: 100%;
        width: 100%;    
    }
    .projects_description{
        color: white;
    }
}

/* PROJECTS BACKGROUND IMAGES */
.default_bg{
    background-color: grey;
}
.youkaryote_bg{
    background-image: url('../assets/youkaryote.jpg');
}
.youkaryote_bg:hover{
    background-image: url('../assets/youkaryote2.jpg');
}
.c0_bg{
    background-image: url('../assets/c0vm.jpg');
}
.ede_bg{
    background-image: url('../assets/EDE.jpg');
}

.sentimental_bg{
    background-color: grey;
}
.bcnf_bg{
    background-color: grey;
}